---
export async function getStaticPaths() {
  const response = await fetch(
    "https://pokeapi.co/api/v2/pokemon?limit=50&offset=0"
  );
  const data = await response.json();
  const pokemons: Pokemon[] = data?.results;
  return pokemons.map((pokemon) => {
    return {
      params: { name: pokemon.name },
    };
  });
}
const { name } = Astro.params;
import Document from "@/layouts/document.astro";
import type { Pokemon } from "../index.astro";
const response = await fetch(`https://pokeapi.co/api/v2/pokemon/${name}`);
const pokemon = await response.json();
---
<Document title={pokemon.name}>
  <main class="container py-32">
    <h1 class="text-xl text-slate-50">{pokemon.name}</h1>
  </main>
</Document>
