---
import Document from "@/pages/document.astro";
---
<Document title="Sobre" description="Descrição da página sobre">
    <main class="container py-24">
        <h1 class="text-xl font-medium text-slate-50">Sobre</h1>
    </main>
</Document>