
---
import '@/styles/global.css'

const { title, metatags } = Astro.props;

---

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    {metatags}
</head>
<body class="bg-black">
    <slot/>
</body>
</html>